body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #18181b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills{
    background-color:#F5EDDC ;
    box-shadow: black 5px 1px 10px 1px;

}
#project{
    background-image:linear-gradient(#FFFAE7,#EDEDED,#DBC8AC) ;
    box-shadow: #DBC8AC 1px 1px 10px 0px;
}