body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #18181b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills{
    background-color:#F5EDDC ;
    box-shadow: black 5px 1px 10px 1px;

}
#project{
    background-image:linear-gradient(#FFFAE7,#EDEDED,#DBC8AC) ;
    box-shadow: #DBC8AC 1px 1px 10px 0px;
}
@media only screen and (max-width: 768px){
    #main{

        width: 100%;
    }
    #header
    {
        width: 80%;
    }
    #header-socials{
    margin-left: -40px;
        margin-right: 60px;
        font-size: 0.8rem;
        }
    #header-links{
        font-size: 0.9rem;
        margin-right: -40px;
    }
    #whoami{
        width: 50%;

    }
    #whoami-heading{
       font-size: 2.5rem;
        padding-bottom: 20px;
        }
    #whoami-text{
        font-size: 0.9rem;
        width: 40vh;
    }
    #whoami-emojis{
       font-size: 1.8rem;
    }
    #skills{
        width: 42vh;
        height: 55vh;
    }
    #skills-container{
        grid-template-columns: 1fr 1fr;
        height: 48vh;
    }
    #skills-progress{
        width: 140px;
        height: 18px;

    }
    #skills-title{
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
    }
    #projects-container{
        height: 50%;
        width:40vh;
        margin-left: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }
    #project{
        font-size: 0.5rem;
    }
    #contact-me{
        margin-left: 20px;
        width:600px;
    }
    #contact-me-section{
        font-size: 2.5rem;
        margin-left: 70px;
    }
}